# Arquivos de configuração
.env

# Dependências instaladas
/node_modules

# Arquivos de build
/build
/dist

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de cache
.cache

# Arquivos de IDE
.idea
.vscode
*.code-workspace

# Arquivos de configuração de sistema
*.swp
